*{
    margin: 0;
    padding: 0;
}
body {
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    font-family: Arial;
    font-family: 'Georgia', serif;
    font-family: 'Verdana', sans-serif;
}

.div1{
    display: block;
    height: 100vh; 
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    justify-content: left;
    font-size: 15px;
    text-align: center;
    padding-top: 175px;
}

.div1 h2{
    margin: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}
.div2{
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 18px;

}
.diva{
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 18px;
}
.diva a {
    width: 1080px; /* Define a largura do link */
    display: block;
    margin: auto;
}


.divb{
    height: 100vh; 
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
}
.divb a {
    width: 1080px; /* Define a largura do link */
    display: block;
    margin: auto;
}


.divc {
    height: 100vh; 
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
}
.divc a {
    width: 1080px; /* Define a largura do link */
    display: block;
    margin: auto;
}


.divd {
    height: 100vh; 
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}
.divd a {
    width: 1080px; /* Define a largura do link */
    display: block;
    margin: auto;
}


.dive{
    height: 100vh; 
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}
.dive a {
    width: 1080px; /* Define a largura do link */
    display: block;
    margin: auto;
}


.divf{
    height: 100vh; 
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}
.divf a {
    width: 1080px; /* Define a largura do link */
    display: block;
    margin: auto;
}


/*BOTÃO*/

.button1 img{
    position: fixed;
    right: 5px;
    text-transform: uppercase;
    max-width: 100px; 
    max-height: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.button2 img{
    margin-top: 100px;
    position: fixed;
    right: 5px;
    text-transform: uppercase;
    max-width: 100px; 
    max-height: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.button3 img{
    margin-top: 200px;
    position: fixed;
    right: 5px;
    text-transform: uppercase;
    max-width: 100px; 
    max-height: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.button4 img{
    margin-top: 300px;
    position: fixed;
    right: 5px;
    text-transform: uppercase;
    max-width: 100px; 
    max-height: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.button5 img{
    margin-top: 400px;
    position: fixed;
    right: 5px;
    text-transform: uppercase;
    max-width: 100px; 
    max-height: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.button6 img{
    margin-top: 500px;
    position: fixed;
    right: 5px;
    text-transform: uppercase;
    max-width: 100px; 
    max-height: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.topo img{
    margin-top: 600px;
    position: fixed;
    right: 5px;
    text-transform: uppercase;
    max-width: 100px; 
    max-height: 100px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

